body {
  margin: 0;
  padding: 0;
  background: #101010;
}

/* spider-man color palette
red: #e82a1a
black #101010
dark blue: 1c345d
#FFE9FF;  white
*/

.inline{
  display: inline;
}

.header{
  background-color: #101010; /* black */
  padding: 11px;
  padding-left: 20px;
  color: white;
  font-size: 30px;
  font-family: "Trebuchet MS";
}
.headerW {
    background-color: #561b9b; /* purple */
    padding: 11px 20px 0px 20px; /* Adjusted padding */
    font-size: 20px;
    font-family: "Trebuchet MS";
    margin-bottom: 0; /* Remove bottom margin */
}

#header2 {
    background-color: #561b9b; /* purple */
    padding: 11px 20px 20px 20px; /* Adjusted padding */
    font-size: 20px;
    font-family: "Trebuchet MS";
    margin-bottom: 0; /* Remove bottom margin */
}

#header2 span {
    margin-left: 10px;
    margin-right: 30px;
}
#header2 a {
    color: white !important; /* Set link color to white */
    text-decoration: none; /* Remove underlines from links */
    font-family: "Trebuchet MS";
}

#space1 {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}
#mainVideo {
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: auto; /* Centering block-level elements */
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden; /* This ensures no content overflows the container's bounds */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header2 {
    background-color: #561b9b; /* purple */
    padding: 11px 20px 20px 20px; /* Adjusted padding */
    color: black;
    font-size: 20px;
    font-family: "Trebuchet MS";
    margin-bottom: 0; /* Remove bottom margin */
}
#posterImage {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    flex: 1; /* Allows the container to grow or shrink */
}
#posterImage img {
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
}

#creditImage {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    flex: 1; /* Allows the container to grow or shrink */
}
#creditImage img {
    width: 100%; /* Makes the image responsive */
    max-width: 550px; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
}
.removeTextEffect a{
  font-family: "Trebuchet MS";
  text-decoration:none
}
.bgPurple{
  background-color: #7b5aa6;   /* light purple */
  background-size: contain;
}
.whiteBox{
  background-color: #FFE9FF; /* white */
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 600px;
}

.violetBanner{
  background-color: #330662; /* deep violet */
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 120px;
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
}

.whiteBanner{
  background-color: #FFE9FF; /* white */
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.emptyBanner{
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 40px;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
}

.emptyBox{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
}

.footer{
  background-color: #FFE9FF;   /* white */
}

.whiteText{
  color: white;
  font-family: "Trebuchet MS";
}
.violetText{
  color: #57068C;
  font-family: "Trebuchet MS";
}
.smallIcon img{
  height: 30px;
}

#header1 img{
  height: 60px;
}

/* changes all title-related stuff */
.pageTitle{
  font-size: 60px;
}

/* for all the regular size text */
.pageText{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Trebuchet MS";
}

.center {
  display: flex; /* use flexbox for centering */
  justify-content: center;
}
.flex-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap;
    width: 100%;
}

.left {
  flex: 1; /* Grow and shrink equally to take up available space */
}

.right {
  flex: 1; /* Grow and shrink equally to take up available space */
}

.marginLess h1, p, a{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* placeholder map */
.imgLarge{
  padding: 40px;
  height: 20px;
}


#header2 span {
  margin-left: 10px;
  margin-right: 30px;
}

#header2 span a {
  text-decoration: none;
  color: #000; /* Change the color to your desired link color */
}

#minimap img {
  height: 300px;
}

#campusGuide img {
  height: 700px;
}

#endbar span {
  margin-left: 0px;
  margin-right: 300px;
}
  #groupMembers span {
    margin-left: 400px;
    margin-right: 100px;
